.textbody{
    width: calc(100% - 168px);
    height: calc(100% - 40px);
    position: fixed;
    right: 0;
    bottom: 0;
    transition: width 1s;
    /* background-color: red; */
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#ediout{
    transition: opacity 500ms;
}

.textbody>.eidback{
    width: 100%;
    transition: width 1s;
    height: calc(100% - 35px);
    background-color: rgba(255,255,255,.3);
    border-radius: 7px;
    /* background-color: red; */
}


#editordiv{
    /* background-color: aqua; */
    overflow-x: hidden;
    overflow-y: auto;
    /* resize: none; */
    padding: 2px 5px 2px 5px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: calc(100% - 4px);
    font-family: '微软雅黑';
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    transition: height 300ms;
    white-space: pre-wrap;
}

.textbody>.toolbar{
    display: flex;
    height: 30px;
    align-items: center;
    transition: height 300ms,opacity 300ms;
    position: relative;
}


.textbody>.toolbar>a{
    margin-left: 5px;
    height: 22px;
    width: 22px;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textbody>.toolbar>a>img{
    height: 85%;
}


#editordiv:empty::before{
    content: "这是一个支持markdown的文本编辑器，请尽情记录~";
    color: rgba(0,0,0,.55);
}

#editordiv:focus::before{
    content: none;
    color: initial;
}

#editordiv::-webkit-scrollbar{
    width: 7px;
}

#editordiv::-webkit-scrollbar-track{
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
}

#editordiv::-webkit-scrollbar-thumb{
    background-color: gold;
    box-sizing: border-box;
    border-radius: 15px;
}

.textbody>.toolbar>a.toolbar_select{
    background-color: grey;
}

.textbody>.toolbar span{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.textbody>.toolbar>.tips{
    position: absolute;
    right: 5px;
    font-size: 5px;
    color: white;
}
